/* -------- common -------- */

.container {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.page-1 {
    background: linear-gradient(216deg, rgba(255,255,255,1) 0%, rgba(213,223,236,1) 100%);
}
/* -------- intro -------- */

.intro-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-text-container{
    margin-left: 40px;
    color: #254e86;
}

.intro-text-container h1 {
    font-size: 50px;
    margin: 0;
}

.intro-container::before {
    content: "";
    background-color: #254e86;
    height: 25vh;
    width: 30px;
    position: absolute;
}

.intro a {
    margin: 5px;
}

/* -------- links -------- */

.links-container{
    height: 50vh;
    display: flex;
    justify-content: flex-end;
}

.links-text-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}

.links-text-container::after {
    content: "";
    background-color: #254e86;
    height: 25vh;
    width: 30px;
    position: absolute;
    right: 0;
}

.links-text-container a {
    margin: 5px;
    font-size: 40px;
    color: #808181;
    text-decoration: none;
    cursor: pointer;
}

.links-text-container a:hover {
    color: #919191;
}

