.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro a {
    margin: 5px;
}