/* -------- common -------- */

.container {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}


/* -------- intro -------- */

.intro-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}

.intro-text-container{
    margin-left: 40px;
}

.intro-container::before {
    content: "";
    background-color: yellow;
    height: 25vh;
    width: 30px;
    position: absolute;
}

.intro a {
    margin: 5px;
}

/* -------- links -------- */

.links-container{
    height: 50vh;
    background-color: royalblue;
    display: flex;
    justify-content: flex-end;
}

.links-text-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.links-text-container::after {
    content: "";
    background-color: yellow;
    height: 25vh;
    width: 30px;
    position: absolute;
}

.links-link-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}